@model quanLyGiay.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-uppercase text-danger">Thông tin khách hàng</strong>
                </div>

                <div class="col-md-6 text-end">
                    <a href="@Url.Action("Index", "User")" class="btn btn-sm btn-success">
                        Quay về danh sách
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body p-3">
            <dl class="dl-horizontal">
                <dt>
                    Họ tên nhân viên
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FullName)
                </dd>

                <dt>
                    Số điện thoại
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    Email
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    Tên đăng nhập
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt>
                    Mật khẩu đăng nhập
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    Ngày lưu thông tin
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Create_At)
                </dd>

                <dt>
                    Ngày cập nhật gần nhất
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Updated_At)
                </dd>

            </dl>
        </div>

    </div>

}
